﻿@{
    ViewBag.Title = "UploadedRecipes";
}

<div class="main-content">
    <div class="left-sidebar">
        <div class="left-sidebar-top">
            <h3><span>User </span>Panel</h3>

            <ul>
                <li><a href="/Home/Index">Add Recipe</a></li>
                <li><a href="#">Edit Profile</a></li>
                <li><a href="/User/UploadedRecipes">Uploaded Recipes</a></li>
                <div class="clear"> </div>
            </ul>
        </div>
        <div class="clear"> </div>
        <div class="left-sidebar-bottom">
            <h3><span>Fresh</span> Recipes</h3>
            <a href="#"><img src="~/images/fresh1.jpg" title="image-name" /></a>
            <a class="heading" href="#">Bonorum et Maltextorum Bonorum et</a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a class="button" href="#">Read more</a>
        </div>
        <div class="cooking-banner1">
            <a href="#"><img src="~/images/banner1.png" title="image-name" /></a>
        </div>
        <div class="clear"> </div>
    </div>
    <div class="center-content">
        <!---start-about---->
        <div class="about">
            <h3>Uploaded Recipes</h3>

            <form method="post" action="/User/DeleteRecipe" enctype="multipart/form-data">


                <table border="1" width="100%" cellpadding="0" cellspacing="0" id="product-table">

                    <tr>

                        @foreach (var i in Model)
                        {
                        <tr>
                            <td>@i.r_name</td>
                            
                            <td><input type="hidden" name="r_name" value="@i.r_name" /></td>
                            <td><input type="submit" value="Delete" />    </td>
                            <td class="options-width">

                                            

                            </td>
                        </tr>
                        }
                    </table>

                
                </form>

</div>


        <div class="clear"> </div>
        <!----End-main-content----->
    </div>

