<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

@model List<Cooktoday.Models.Recipe>
<!DOCTYPE HTML>
<html>
<body>
    <link href="~/Content/signin/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/signin/css/bootstrap.js"></script>
    
    
    <div class="main">
        <!---start-header---->
        <div class="top-header">
            <div class="top-nav">
                <ul>
                    <li><a href="~/Home/index">Home</a></li>
                    <li class="active"><a href="~/Home/newrecipes">New Recipes</a></li>
                    <li><a href="~/Home/chef">Chefs</a></li>
                    <li><a href="~/Home/news">News</a></li>
                    <li><a href="~/Home/contact">Contact</a></li>
                    <li><a href="~/Home/about">Top 10 Recipes</a></li>
                </ul>
                <div class="clear"> </div>

            </div>
        </div>
        <!---End-header---->
        <!---start-content----->
        <div class="content">
            <!---start-logo-with-slider----->
            <div class="logo-slider">
                <div class="logo">
                    <a href="index.html"><img src="~/images/logo.png" title="logo" /></a>
                </div>
                <!--start-image-slider---->
                <div class="image-slider">
                    <!-- Slideshow 1 -->
                    <ul class="rslides" id="slider1">
                        <li><img src="~/images/slider1.jpg" alt=""></li>
                        <li><img src="~/images/slider3.jpg" alt=""></li>
                        <li><img src="~/images/slider1.jpg" alt=""></li>
                    </ul>
                    <!-- Slideshow 2 -->
                </div>
                <!---start-wrap---->
                <!--End-image-slider---->
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <!---End-logo-with-slider----->
            <!----start-main-content----->
            <div class="main-content">
                <div class="left-sidebar">
                    <div class="left-sidebar-top">
                        
                    </div>
                    <div class="clear"> </div>
                    <div class="left-sidebar-bottom">
                        <h3><span>Fresh</span> Recipes</h3>
                        <a href="#"><img src="~/images/fresh1.jpg" title="image-name" /></a>
                        <a class="heading" href="#">Bonorum et Maltextorum Bonorum et</a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a class="button" href="#">Read more</a>
                    </div>
                    <div class="cooking-banner1">
                        <a href="#"><img src="~/images/banner1.png" title="image-name" /></a>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="center-content">
                    <!---start-newricipes---->
                    <div class="products">
                        <h3>New Recipies</h3>


                        @foreach(var i in Model)
                        {

                        <div class="product-grid">
                            <a href="#"><img src="~/images/product1.jpg" title="product-name" /></a>
                            <a class="product-heading" href="#">@i.r_name</a>
                            <p>Uploaded by : @i.uploaded_by</p>
                             <a href="/Home/description" <p>@i.description</p>
                            <a class="newricipes-button" href="#">Read more</a>
                        </div>
                        
                        }
                        <div class="clear"> </div>
                    </div>
                    <!---End-newricipes---->
                </div>
                <div class="clear"> </div>
                <!----End-main-content----->
            </div>
        </div>
    </div>
  
    <!---End-wrap---->
</body>
</html>

