﻿@{
    Layout = "~/Views/Shared/_Loginshared.cshtml";
}

<!DOCTYPE html>


<body>
    <div class="container">
        <!-- Codrops top bar -->
        <div class="codrops-top">
            <a href="">
                <strong>&laquo; Previous Demo: </strong>Responsive Content Navigator
            </a>
            <span class="right">
                <a href="/Home/Index">
                    <strong>Back to the main page.</strong>
                </a>
            </span>
            <div class="clr"></div>
        </div><!--/ Codrops top bar -->
        <header>

            <nav class="codrops-demos">


                <span>You are Welcome <strong>"To Join us"</strong></span>

            </nav>
        </header>
        <section>
            <div id="container_demo">
                 <div id="wrapper">
                    
                    <div id="login" class="animate form">
                        <form action="/Home/SignupValidate" autocomplete="on">
                            <h1> Sign up </h1>
                            <p style="color:red">@ViewBag.Error </p>

                            <p>
                                <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                                <input id="usernamesignup" name="username" required="required" type="text" placeholder="mysuperusername690" />
                            </p>

                            <p>
                                <label class="uname" data-icon="u">Your Full Name</label>
                                <input id="usernamesignup" name="Name" required="required" type="text" placeholder="mysuperusername690" />
                            </p>


                            <p>
                                <label for="emailsignup" class="youmail" data-icon="e"> Your email</label>
                                <input id="emailsignup" name="email" required="required" type="email" placeholder="mysupermail@mail.com" />
                            </p>
                            <p>
                                <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                <input id="passwordsignup" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                            </p>
                            <p>
                                <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO" />
                            </p>
                            <p class="signin button">
                                <input type="submit" value="Sign up" />
                            </p>
                            <p class="change_link">
                                Already a member ?<a href="#tologin" class="to_register"> Go and log in </a>
                            </p>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>
