﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>

   
</head>
<body>


    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>



    <!------------------------>


    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/responsiveslides.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="~/Scripts/responsiveslides.min.js"></script>
    
    <script>
        // You can also use "$(window).load(function() {"
        jQuery(function ($) {

            // Slideshow 1
            $("#slider1").responsiveSlides({
                maxwidth: 1600,
                speed: 600
            });
        });
    </script>
    <script>
        function emailValidate() {
            var email = document.getElementById("Email").value;
            if ((email.indexOf('@@') < 0) || (email.indexOf('.') < 0) || (email.lastIndexOf('.') - email.lastIndexOf('@@') < 2)) {
                alert("Your entered Wrong email format");
                return false;
            }


            document.write('Click here to proceed'.link('User/Signup'));

            return true;
        }
        function emailValidate2() {
            var email = document.getElementById("Email").value;
            if ((email.indexOf('@@') < 0) || (email.indexOf('.') < 0) || (email.lastIndexOf('.') - email.lastIndexOf('@@') < 2)) {
                alert("Your entered Wrong email format");
                return false;
            }


            document.write('Click here to proceed'.link('User/Signin'));

            return true;
        }



    </script>
    <div class="wrap">
        <!---start-top-header---->


        <div class="top-header-contact-info">
            

            <img src="~/images/logoo.jpg" width="60" height="50"/>

        </div>
        @if (Session["Admin"] == null && Session["uname"] == null)
        {
      <!---->
            <div class="top-header-social">
                <ul>
                    <li><a href="/Admin/Adminlogin">Admin login</a></li>
                    
                    
                    <li>
                        <form>
                            <input type="text" placeholder="Search Recipe... " required>
                            <input type="button" value="Search">
                        </form>

                    </li>
                    
                    
                    <li>
                        
                        <a href="#"><img src="~/images/facebook.png" title="facebook" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/images/twitter.png" title="Twitter" /></a>
                    </li>
                    <li>
                        <div class="log-in">
                            <ul>
                                <li>

                                   
                                    <a href="/Home/login"><span> </span>Login</a>
                                </li>
                                <li><a href="/Home/signup">Signup</a></li>

                            </ul>
                        </div>
                        <script type="text/javascript" src="~/Content/signin/js/modernizr.custom.min.js"></script>
                        <link href="~/Content/signin/css/popup-box.css" rel="stylesheet" type="text/css" media="all" />
                        <script src="~/Content/signin/js/jquery.magnific-popup.js" type="text/javascript"></script>
                        <script>
                            function phoneno() {
                                $('#phone').keypress(function (e) {
                                    var a = [];
                                    var k = e.which;

                                    for (i = 48; i < 58; i++)
                                        a.push(i);

                                    if (!(a.indexOf(k) >= 0))
                                        e.preventDefault();
                                });
                            }
                        </script>


                        <script>
                            jQuery(function ($) {
                                $('.popup-with-zoom-anim').magnificPopup({
                                    type: 'inline',
                                    fixedContentPos: false,
                                    fixedBgPos: true,
                                    overflowY: 'auto',
                                    closeBtnInside: true,
                                    preloader: false,
                                    midClick: true,
                                    removalDelay: 300,
                                    mainClass: 'my-mfp-zoom-in'
                                });

                            });
                        </script>
                        <!--End-pop-up-box-->
                    </li>

                </ul>
            </div>
        }
        else
        {
            <div class="top-header-social">
                <a href="/Admin/AddCategory">
                    <h2>Welcome @Session["uname"] @Session["Admin"]</h2>
                </a>
                <a href="/Home/logout">Logout</a>
                <a href="/Home/Index">Home</a>
            </div>
        }
        <div class="clear"> </div>
        <!---End-top-header---->
        <!---start-main---->
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
