﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="~/Content/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/animate-custom.css" />
        <link href="bootstrap.css" rel="stylesheet" />
        <script src="bootstrap.css"></script>


    
       </head>
    <body>





        @RenderBody()


    </body>
</html>
