/*=========================================================
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
===========================================================*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	background:url(../images/bg.png) repeat-x #FE7A00;
	font-family: 'Cookie', cursive;
}
.main {
	border: 1px solid rgba(0, 0, 0, 0.05);
}
/*===============================================
 * start-wrap
 ===============================================*/
.wrap{
	width:70%;
	margin:0 auto;
	margin-bottom: 1em;
}
/*===============================================
 * start-header
 ===============================================*/
.top-header-contact-info {
	float: left;
	margin: 2em 0 1em 0;
}
.top-header-contact-info p {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}
.top-header-contact-info span {
	font-size: 2em;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}
.top-header-contact-info span:before {
    content: url(../images/logon.png);
}
.top-header-social ul li{
	display:inline-block;
}
.top-header-social ul li a{
	display:block;
	padding: 0px 10px 0px 0px;
}
.top-header-social{
	float:right;
	padding: 3em 0 1em 0;
}
/*===============================================
 * start-top-nav
 ===============================================*/
.top-nav{
	background: #FE9100;
}
.top-nav ul{



}
.top-nav ul li{
	display:inline-block;
	float:left;
	border-left: 1px ridge rgba(25, 17, 6, 0.06);
}
.top-nav ul li:nth-child(1){
	border:none;
}
.top-nav ul li a{
	background: #FE9100;
	color: #FFF;
	font-family: 'Cookie', cursive;
	display: block;
	padding: 30px 62.99px;
	font-size: 1.65em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.top-nav li.active> a, .top-nav li> a:hover {
	color: #FFF;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center top, circle farthest-corner, #FFD59E 0%, #FE9100 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center top, circle farthest-corner, #FFD59E 0%, #FE9100 100%);
	
	/* Opera */ 
	background-image: -o-radial-gradient(center top, circle farthest-corner, #FFD59E 0%, #FE9100 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #FFD59E), color-stop(1, #FE9100));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFD59E 0%, #FE9100 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center top, #FFD59E 0%, #FE9100 100%);
}
/*===============================================
 * logo-content
 ===============================================*/
.content{
	background:#FFF;
	padding:10px 20px;
}
/*===============================================
 * logo-slider
 ===============================================*/
.logo-slider{
	background:#FFF;
	margin: 0.5em 0;
}
/*===============================================
 * start-logo
 ===============================================*/
.logo{
	float:left;
	width: 20%;
	text-align: center;
}
.logo img{
	margin-top: 6.5em;
}
/*===============================================
 * image-slider
 ===============================================*/
.image-slider{
	float:right;
	width:78%;
}
.colr{
    color:red;
}
/*===============================================
 * start-main-content
 ===============================================*/
.left-sidebar{
	float: left;
	width: 20%;
}
.left-sidebar-top{
	background: #F3F4EE;
	padding: 1em;
	border-radius: 1em;
} 
.left-sidebar-top ul li{
	display:block;
}
.left-sidebar-top ul li:before{
	content: url(../images/list.png);
	padding-right: 4px;
	padding: 5px;
	display: inline-block;
}
.left-sidebar-top h3{
	font-size: 2.2em;
	color: #505050;
	padding: 0px 0px 0.23em 0px;
}
.left-sidebar-top h3 span{
	color:#DF1506;
}
.left-sidebar-top ul li a{
	color:#777;
	font-size:0.875em;
	font-family: Arial, Helvetica, sans-serif;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.left-sidebar-top ul li a:hover{
	color:#DF1506;
}
.left-sidebar-bottom{
	background: #F8FAED;
	padding: 1em;
	border-radius: 1em;
	margin-top: 1em;
}
.left-sidebar-bottom h3{
	font-size: 2.5em;
	color: #505050;
	padding: 0.3em 0px 0.5em 0px;
}
.left-sidebar-bottom h3 span{
	color:#FD8703;
}
.left-sidebar-bottom p{
	color:#777;
	font-size:0.875em;
	font-family: Arial, Helvetica, sans-serif;
	line-height:1.5em;
	margin:0.3em 0;
}
.heading{
	color: #000;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
}
.button{
	color: #777;
	font-weight: bold;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	background: url(../images/list1.png) no-repeat 100% 57%;
	padding: 0px 10px 0px 0px;
}
.button:hover{
	color:#FD8703;
	background: url(../images/list1h.png) no-repeat 100% 57%;
}
.cooking-banner1{
	margin:1em 0;
}
.cooking-banner1 img{
	display:block;
	border-radius:1em; 
}
/*===============================================
 * center-content
 ===============================================*/
.center-content{
	float:right;
	width:79%;
}
.center-content-meassage{
	width: 100%;
	padding: 0px 30px;
	margin: 1em 0;
}
.center-content-meassage h3{
	font-size:2.5em;
	color:#6BB70D;
	font-family: 'Cookie', cursive;
}
.center-content-meassage p{
	font-size:0.875em;
	color:#777;
	line-height:1.5em;
	font-family: Arial, Helvetica, sans-serif;
}
/*===============================================
 * center-content-grid
 ===============================================*/
.center-content-grids {
	width: 76%;
	float: left;
}
.center-content-grid h3{
	font-size: 2em;
	color: #505050;
	border-bottom: 1px solid #eee;
	padding-bottom: 16px;
	margin-bottom: 5px;
}
.post-links {
	margin-top: 1em;
}
.center-content-grid-pic{
	float:left;
	width:30%;
}
.center-content-grid-list{
	float:right;
	width:68%;
}
.center-content-grid-list ul li:before{
	content: url(../images/list.png);
	padding-right: 4px;
	padding: 5px;
	display: inline-block;
}
.center-content-grid-list li a{
	color:#777;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.875em;
	border-bottom: 1px solid #777;
}
.center-content-grid-list li a:hover{
	color: #6BB70D;
}
/*===============================================
 * post-links
 ===============================================*/
.post-links p{
	color:#777;
	font-size:0.875em;
	font-family: Arial, Helvetica, sans-serif;
}
.center-content-grid {
	padding: 20px;
	border: 1px solid #eee;
	margin: 1em 0.5em;
	border-radius: 0.3em;
}
.newpost{
	color:#6BB70D;
}
.comments{
	color:#DF1308;
}
.center-content-grid-bottom ul{
	float:left;
	margin-right: 5%;
}
.center-content-grid-bottom ul li a{
	font-size:0.875em;
	color:#C59B2F;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 10px;
	border-bottom:1px solid #C59B2F;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.center-content-grid-bottom ul li a:hover{
	color:#DF1308;
}
.center-content-grid-bottom ul li{
	background: url(../images/list1h.png) no-repeat 0% 57%;
	padding: 3px 0;
}
.last{
	margin:0;
}
.right-sidebar{
	float: right;
	width: 23%;
}
.right-sidebar-top{
	background: #EEEEEE;
	padding:1em 0.5em;
	border-radius: 1em;
} 
.right-sidebar-top ul li{
	display:block;
}
.right-sidebar-top ul li:before{
	content: url(../images/list.png);
	padding-right: 4px;
	padding: 5px;
	display: inline-block;
}
.right-sidebar-top h3{
	font-size: 1.8em;
	color: #505050;
	padding: 0px 0px 0.23em 0px;
}
.right-sidebar-top h3 span{
	color:#DF1506;
}
.right-sidebar-top ul li a{
	color:#777;
	font-size:0.875em;
	font-family: Arial, Helvetica, sans-serif;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.right-sidebar-top ul li a:hover{
	color:#DF1506;
}
.right-sidebar-bottom{
	background: #F1F2EA;
	padding: 1em;
	border-radius: 1em;
	margin-top: 1em;
}
.right-sidebar-bottom h3{
	font-size: 2.2em;
	color: #505050;
	padding: 0.3em 0px 0.5em 0px;
}
.right-sidebar-bottom h3 span{
	color:#6CA41D;
}
.right-sidebar-bottom p{
	color:#777;
	font-size:0.875em;
	font-family: Arial, Helvetica, sans-serif;
	line-height:1.5em;
	margin:0.3em 0;
}
.heading{
	color: #000;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
}
.button{
	color: #777;
	font-weight: bold;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	background: url(../images/list1.png) no-repeat 100% 57%;
	padding: 0px 10px 0px 0px;
}
.button:hover{
	color:#FD8703;
	background: url(../images/list1h.png) no-repeat 100% 57%;
}
.cooking-banner1{
	margin:1em 0;
}
.cooking-banner1 img{
	display:block;
	border-radius:1em; 
}
/*===============================================
 * copy-right
 ===============================================*/
.copy-right{
	text-align:center;
}
.copy-right p{
	color: #FFF;
	font-size: 1.5em;
	padding: 1.5em 0 1em 0;
}
.copy-right p a{
	color:#FFF;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.copy-right p a:hover{
	color:#6BB70D;
}
/*===============================================
 * start-about
 ===============================================*/
.about h3{
	font-size: 2.5em;
	color: #6BB70D;
	font-family: 'Cookie', cursive;
	padding: 0.2em 0;
}
.about p{
	font-size: 0.875em;
	color: #777;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	padding:1em 0;
}
.about {
	margin: 1em 0 1em 1em;
}
.about img{
	width:100%;
}
.about a{
	background: #FE9100;
	color:#FFF;
	padding:7px 10px;
	display:inline-block;
	font-size: 1.5em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	margin-top: 0.5em;
}
.about a:hover{
	color:#000;
}
/*===============================================
 * newricipes
 ===============================================*/
.newricipes h4{
	font-size: 2.5em;
	color: #6BB70D;
	font-family: 'Cookie', cursive;
	padding: 0.2em 0;
}
.newricipes-grid{
	float: left;
	width: 44.7%;
	padding: 2%;
	border: 1px solid #EEE;
	margin: 0 1em 1em 0;
}
.newricipes-lastgrid{
	margin:0 0 1em 0;
}
.newricipes-grid-img{
	float:left;
	width:30%;
}
.newricipes-grid-info{
	float:right;
	width: 66%;
}
.newricipes {
	margin: 1em 0 1em 1em;
}
.newricipes-grid-info h3 a{
	font-size: 1.5em;
	color: #505050;
}
.newricipes-grid-info p{
	font-size: 0.875em;
	color: #777;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.5em 0;
}
.newricipes-button{
	background: #FE9100;
	color: #FFF;
	padding: 4px 10px;
	display: inline-block;
	font-size: 1.5em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	margin-top: 0.2em;
}
.newricipes-button:hover{
	color: #000;
}
/*===============================================
 * products
 ===============================================*/	
 .products{
 	margin: 1em 0 1em 1em;
 }
 .products h3{
 	font-size: 2.5em;
	color: #6BB70D;
	font-family: 'Cookie', cursive;
	padding: 0.2em 0;
 }
.product-grid{
	float:left;
	width: 27.6%;
	padding:2%;
	border:1px solid #EEE;
	margin:0 1em 1em 0;
}
.product-grid img{
	display:block;
	width:100%;
}
.product-heading{
	font-size: 1.5em;
	color: #505050;
	font-family: 'Cookie', cursive;
	padding: 0.5em 0 0 0;
	display: block;
}
.product-grid p{
	font-size: 0.875em;
	color: #777;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.5em 0;
}
.product-lastgrid{
	margin:0 0em 1em 0;
}
/*===============================================
 * news
 ===============================================*/
.news{
	margin: 1em 0 1em 1em;
	text-align:center;
}	
.news h3{
	font-size: 15em;
	color:#505050;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1em;
}
.news p{
	font-size:2em;
	color:#FE9100;
}
/*===============================================
 * contact
 ===============================================*/
.contact{
	margin: 0em 0 1em 1em;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	font-size: 2.5em;
	color: #6BB70D;
	font-family: 'Cookie', cursive;
	padding: 0.2em 0;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #505050;
	padding-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			border: none;
			outline:none;
			color:#464646;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			border:1px solid #EEE;
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	background: #FE9100;
	color: #FFF;
	padding: 5px 20px;
	display: inline-block;
	font-size: 2em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	margin-top: 0.2em;
	border: none;
	cursor: pointer;
	font-family: 'Cookie', cursive;
}
.contact-form input[type="submit"]:hover{
	color:#000;
}
.contact-form input[type="submit"]:active{
	color:#000;
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size:0.8125em;
	color:#505050;
	font-family:Arial, Helvetica, sans-serif;
	padding: 3px 0;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.map{
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*----responsive-design-----*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
	.top-nav ul li a {
		padding: 30px 71.2px;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}
	.top-nav ul li a {
		padding: 30px 64.8px;
	}
	.center-content-meassage {
		padding: 0px 30px 0 11px;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap{
		width:90%;
	}
	.top-nav ul li a {
		padding: 30px 45.6px;
	}
	.center-content-meassage {
		padding: 0px 30px 0 11px;
	}
	.left-sidebar-top h3 {
		font-size: 1.7em;
	}
	.left-sidebar-top ul li a {
		font-size: 0.8em;
	}
	.left-sidebar-top {
		padding: 1em 0.5em;
	}
	.left-sidebar-bottom {
		padding: 1em 0.5em;
	}
	.left-sidebar-bottom h3 {
		font-size: 2em;	
	}
	.center-content-grid-list li a {
		font-size: 0.8em;
	}
	.center-content-grid-bottom ul li a {
		padding: 0px 0 0 10px;
	}
	.center-content-grid-bottom ul {
		margin-right: 1.7%;
	}
	.right-sidebar-top h3 {
		font-size: 1.5em;
	}
	.right-sidebar-top ul li a {
		font-size: 0.8em;
	}
	.center-content-grid-bottom{
		display:none;
	}
	.logo img {
		margin-top: 5.5em;
	}
	.newricipes-grid {
		width: 44.4%;
	}
	.product-grid {
		width: 27.4%;
	}
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap{
		width:90%;
	}
	.top-nav ul li a {
		padding: 30px 27.1px;
	}
	.center-content-meassage {
		padding: 0px 30px 0 11px;
	}
	.left-sidebar-top h3 {
		font-size: 1.7em;
	}
	.left-sidebar-top ul li a {
		font-size: 0.8em;
	}
	.left-sidebar-top {
		padding: 1em 0.5em;
	}
	.left-sidebar-bottom {
		padding: 1em 0.5em;
	}
	.left-sidebar-bottom h3 {
		font-size: 2em;	
	}
	.center-content-grid-list li a {
		font-size: 0.8em;
	}
	.center-content-grid-bottom ul li a {
		padding: 0px 0 0 10px;
	}
	.center-content-grid-bottom ul {
		margin-right: 1.7%;
	}
	.right-sidebar-top h3 {
		font-size: 1.5em;
	}
	.right-sidebar-top ul li a {
		font-size: 0.8em;
	}
	.center-content-grid-bottom{
		display:none;
	}
	.logo img {
		margin-top: 5.5em;
	}
	.newricipes-grid {
		width: 43.8%;
	}
	.product-grid {
		width: 26.6%;
	}
	.news h3 {
		margin-top: 0.5em;
	}
}