﻿@model Cooktoday.Models.AdminLogin

@{
    ViewBag.Title = "Adminlogin";
    Layout = null;
}


<body>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/responsiveslides.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


    <div class="main">
        <div class="wrap">
            @using (Html.BeginForm("LoginAdmin", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="center-block">

                    <div class="center-content-grid">


                        <fieldset>
                            <legend>AdminLogin</legend>

                            <div class="editor-label">
                                @Html.LabelFor(models => models.Email)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.Password)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>

                            <p>
                                <input type="submit" value="Login" />
                            </p>
                        </fieldset>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</body>